@tailwind base;
@tailwind components;
@tailwind utilities;

.step-line {
  background-image: linear-gradient(
    to right,
    #60a5fa,
    #60a5fa,
    #18c964,
    #18c964
  );
  background-size: 300% 300%;
  background-position: 0 100%;
  transition: background-position 0.5s;
}

.step-line__active {
  background-position: -50% 0;
  transition: all 0.5s ease;
}

.animation-delay__100 {
  animation-delay: 0s;
}

.animation-delay__200 {
  animation-delay: 2s;
}

.animation-delay__300 {
  animation-delay: 4s;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
  display: none;
}

.shadow-mobile__steps {
  box-shadow:
    rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
